Repository moj-analytical-services/splink, pull requests merged in 2024-03, with the labels that each got.

#1983 EM training - decoupling and reducing mutable state
  splink/accuracy.py
  splink/blocking.py
  splink/comparison.py
  splink/comparison_level.py
  splink/comparison_vector_values.py
  splink/dialects.py
  splink/edge_metrics.py
  splink/em_training_session.py
  splink/estimate_u.py
  splink/expectation_maximisation.py
  splink/linker.py
  splink/m_from_labels.py
  splink/m_training.py
  splink/m_u_records_to_parameters.py
  splink/predict.py
  splink/settings.py
  splink/splink_dataframe.py
  tests/test_correctness_of_convergence.py
  tests/test_train_vs_predict.py
Labels: model training, splink4, refactoring

#2050 DB-API tidy
  splink/athena/linker.py
  splink/comparison_helpers_utils.py
  splink/comparison_library_utils.py
  splink/database_api.py
  splink/dialect_base.py
  splink/duckdb/database_api.py
  splink/duckdb/dataframe.py
  splink/em_training_session.py
  splink/expectation_maximisation.py
  splink/format_sql.py
  splink/linker.py
  splink/pipeline.py
  splink/postgres/database_api.py
  splink/postgres/dataframe.py
  splink/profile_data.py
  splink/spark/database_api.py
  splink/spark/dataframe.py
  splink/splink_dataframe.py
  splink/sqlite/database_api.py
  splink/sqlite/dataframe.py
  tests/literal_utils.py
  tests/test_caching.py
  tests/test_postgres_udfs.py
  tests/test_profile_data.py
Labels: splink4, database api

#2033 Fix mkdocs rendering symbols in notebook code
  docs/hooks/__init__.py
  mkdocs.yml
  scripts/docs-requirements.txt
Labels: bug, documentation

#2102 Docs/more spellchecking
  docs/dev_guides/changing_splink/development_quickstart.md
  docs/settings_dict_guide.md
  docs/topic_guides/comparisons/phonetic.md
  docs/topic_guides/comparisons/regular_expressions.md
  docs/topic_guides/data_preparation/feature_engineering.md
  docs/topic_guides/splink_fundamentals/backends/postgres.md
  scripts/pyspelling/custom_dictionary.txt
Labels: spellchecker
