Repository moj-analytical-services/splink, pull requests merged in 2024-04, with the labels that each got.

#2127 Restore Settings Validation (Splink 4)
  pyproject.toml
  splink/linker.py
  splink/settings_creator.py
  splink/settings_validation/log_invalid_columns.py
  splink/settings_validation/settings_column_cleaner.py
  splink/settings_validation/valid_types.py
  tests/test_settings_validation.py
Labels: validation, splink4, settings

#2151 Type decorator
  pyproject.toml
  splink/comparison_level_library.py
Labels: splink4, type hints

#2153 Specify generic types
  pyproject.toml
  splink/blocking.py
  splink/blocking_rule_creator.py
  splink/blocking_rule_creator_utils.py
  splink/blocking_rule_library.py
  splink/cache_dict_with_logging.py
  splink/cluster_studio.py
  splink/column_expression.py
  splink/comparison.py
  splink/comparison_creator.py
  splink/comparison_level.py
  splink/comparison_level_composition.py
  splink/comparison_level_creator.py
  splink/comparison_level_library.py
  splink/comparison_library.py
  splink/comparison_template_library.py
  splink/connected_components.py
  splink/cost_of_blocking_rules.py
  splink/database_api.py
  splink/datasets/__init__.py
  splink/dialects.py
  splink/duckdb/database_api.py
  splink/duckdb/duckdb_helpers/duckdb_helpers.py
  splink/em_training_session.py
  splink/exceptions.py
  splink/expectation_maximisation.py
  splink/find_brs_with_comparison_counts_below_threshold.py
  splink/input_column.py
  splink/labelling_tool.py
  splink/linker.py
  splink/m_u_records_to_parameters.py
  splink/optimise_cost_of_brs.py
  splink/parse_sql.py
  splink/pipeline.py
  splink/postgres/database_api.py
  splink/predict.py
  splink/profile_data.py
  splink/settings.py
  splink/settings_creator.py
  splink/settings_validation/log_invalid_columns.py
  splink/settings_validation/settings_column_cleaner.py
  splink/settings_validation/settings_validation_log_strings.py
  splink/spark/database_api.py
  splink/splink_comparison_viewer.py
  splink/splink_dataframe.py
  splink/sql_transform.py
  splink/sqlite/database_api.py
  splink/term_frequencies.py
  splink/validate_jsonschema.py
Labels: splink4, type hints

#2149 Update documentation on settings validation in response to code changes
  docs/dev_guides/settings_validation/extending_settings_validator.md
  docs/dev_guides/settings_validation/settings_validation_overview.md
Labels: documentation, validation
